/*ガイドモードの背景*/
body {
    background-image: url("../img/kantanhaikei.png");
    background-size: 100%; 
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    padding: 10px;
}

.title{
    color: black;
    font-size: 15px;
}

.absolute01{
    position: absolute;
    right: 50px;
    bottom: 450px;
    width: 280px;
}

.absolute02{
    position: absolute;
    right: 50px;
    bottom: 350px;
    width: 280px;
}

.absolute03{
    position: absolute;
    right: 50px;
    bottom: 250px;
    width: 280px;
}

.absolute04{
    position: absolute;
    right: 50px;
    bottom: 150px;
    width: 280px;
}

.absolute05{
    position: absolute;
    right: 270px;
    bottom: 30px;
}

.absolute06{
    position: absolute;
    right: 20px;
    bottom: 30px;
}