body {
    background-image: url("../img/hazurehaikei.png");
    background-size: 100%; 
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    padding: 10px;
}

.absolute01{
    position: absolute;
    left: 13px;
    top:11px;
}
.absolute02{
    position:absolute;
    right: 18px;
    bottom: 11px;
}

