/*トップ画面の背景*/
body {
    background-image: url("../img/nanidosentaku.jpg");
    background-size: 100%; 
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    padding: 10px;


.title{
    color: black;
    font-size: 15px;
}


.absolute01{
    position: absolute;
    right: 60px;
    bottom: 400px;
    width:250px;
}
.absolute02{
    position: absolute;
    right: 60px;
    bottom: 250px;
    width:250px;
}
.absolute03{
    position: absolute;
    right: 60px;
    bottom: 100px;
     width:250px;
}

.absolute04{
  position: absolute;
    right: 270px;
    bottom: 30px;
}