/*トップ画面の背景*/
body {
    background-image: url("../img/top.png");
    background-size: 100%; 
    background-repeat: no-repeat;
    text-align: center;
    color: white;
    padding: 10px;
}

.absolute01{
    position: absolute;
    right: 30px;
    bottom: 250px;
}
.absolute02{
    position: absolute;
    right: 30px;
    bottom: 100px;
}